* {
  margin: 0;
  padding: 0;
}

#head {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #141615;
  height: 70px;
}

.left-side-head {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu-input {
  display: none;
}

#cross {
  display: none;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  width: 75px;
}

.right-side-head {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.error-message {
  color: red !important;
}

.footer {
  background-color: black;
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.left-side {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  color: #d1d1d1;
}

.left-side img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

.central-side {
  color: #d1d1d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.central-side h2 {
  text-align: center;
  color: #d6b46c;
  margin-bottom: 15px;
  width: 100%;
}

.central-side ul {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.right-side {
  color: #d1d1d1;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

.right-side h2 {
  color: #d6b46c;
}

.social-media {
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.social-media a {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer {
    justify-content: center;
    height: 65%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #head {
    justify-content: space-between;
  }

  .right-side-head {
    margin-right: 15px;
  }

  .left-side-head {
    margin-left: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer {
    height: 60vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-side {
    width: 30%;
    padding: 0 15px;
  }

  .central-side {
    padding: 0 15px;
  }

  .a-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .right-side {
    padding: 0 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
